<a href="https://colab.research.google.com/github/doheon03/BP_05_Ch6/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 2부터 100사이의 모든 짝수를 출력하는 반복 루프를 작성한다.

In [1]:
for i in range(2, 101):
 if i%2==0 :
  print(i,end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

2. 어떤 사람이 복리이자율 7 % 로 1000만원을 저금 했을 경우에 2000만원이 되는데 몇년이 걸리는지 계산하기 위하여 다음과 같은 코드를 작성하였다. 잘못된 점은 없는지 체크해보자.

In [2]:
year = 0
balance = 1000

while balance <= 2000 :
 year = year + 1
 interest = balance * 0.07
 balance = balance + interest
print(year, "년이 걸립니다.")

11 년이 걸립니다.

3. 다음 코드의 출력을 예상해보자. 각 단계에서 변수값을 예상해보시오.

In [13]:
n = 1234
sum = 0
while n > 0 :
    digit = n % 10
    sum = sum + digit
    n = n // 10
print(sum)

10

4. 사용자에게 곱셈 퀴즈를 내고 답을 사용자로부터 받는 프로그램에서 사용자가 올바른 답을 입력할때까지 반복하도록  수정해보도록 하자.

In [9]:
ans = 0
while ans != 3*9:
 ans = int(input("3*9는"))
print("맞았습니다.")

3*9는8
3*9는9
3*9는27
맞았습니다.

5. 사용자가 입력한 정수의 합을 계산하는 프로그램을 작성하여 보자. 사용자가 ()을 입력하기 전까지 정수를 계속하여 읽도록 한다.

In [11]:
sum = 0
while True:
 x = int(input("정수를 입력하시오: "))
 if x == 0:
  break;
 sum = sum + x

 print("합은 ", sum, "입니다.")

정수를 입력하시오: 1
합은  1 입니다.
정수를 입력하시오: 2
합은  3 입니다.
정수를 입력하시오: 3
합은  6 입니다.
정수를 입력하시오: 0

6. 난수 생성 함수를 사용하여서 2개의 주사위를 던졌을 때 나오는 수를 다음과 같이 출력하여 보자.

In [12]:
from random import randint

for i in range(3) :
 d1 = randint(1, 6)
 d2 = randint(1, 6)
 print("첫번째 주사위=", d1, "두번째 주사위=", d2)

첫번째 주사위= 4 두번째 주사위= 6
첫번째 주사위= 2 두번째 주사위= 1
첫번째 주사위= 5 두번째 주사위= 5

7. 터틀 그래픽과 반복을 사용하여 눈모양을 그려보자.

In [ ]:
import turtle

t = turtle.Turtle()
t.shape("turtle")
t.left(90)

for i in range (1,7):
 t.forward(100)
 t.forward(-30)
 t.left(60)
 t.forward(30)
 t.forward(-30)

 t.right(120)
 t.forward(30)
 t.forward(-30)

 t.left(60)
 t.forward(-70)
 t.left(60)

8. 우리는 이번장에서 터틀 그래픽으로 별을 그려보았다. 이 코드를 응용하여서 다음과  같이 10개의 별을 그리는 프로그램을 작성하라. 별들의 시작 각도는 약간 다르다.

In [ ]:
import turtle

myPen = turtle.Turtle()
myPen.speed(0)
myPen.color("#FF0000")

for j in range (1,10):
 for i in range (1,6):
  myPen.left(144)
  myPen.forward(200)
 myPen.left(10)

9.반복과 난수를 함께 사용하면 화면에 랜덤한 원을 그릴수 있다. 화면에 10개의 랜덤한 원을 그리는 프로그램을 작성하라. 원의 중심과 반지름이 모두 난수여야 한다.

In [ ]:
import turtle
import random

t = turtle.Turtle()
t.shape("turtle")

for j in range (1,10):
 


 



 
t.up()
x = random.randint(-200, 200)
y = random.randint(-200, 200)
r = random.randint(10, 200)
t.goto(x, y)
t.down()
t.circle(r)

10. 다음과 같이 거북이를 왕복달리기 시키는 프로그램을 작성하라.

In [ ]:
import turtle

t = turtle.Turtle()
t.shape("turtle")

for i in range(5):
    t.forward(200);
    t.right(90)
    t.forward(20);
    t.right(90)
    t.forward(200);
    t.left(90)
    t.forward(20);
    t.left(90)

12. 다음의 터틀 그래픽을 분석하여 보자.학습하지 않은 함수가 있다면 인터넷으로 조사하여 보자.

In [ ]:
import turtle

t = turtle.Turtle()

t.shape("turtle")

t.color('red', 'yellow')

t.begin_fill()

while True:t.fd(200)

t.lt(170)

if abs(t.pos()) < 1:

break

t.end_fill()

12.터틀 그래픽과 반복을 사용하여 싸인을 그려보자.거북이를 싸인값에 따라 움직이면 된다.

In [ ]:
import turtle
 import math

 t= turtle.Turtle()
 t.shape("turtle")
 t.color('red', 'yellow')

 for x in range(0, 360):
  t.goto(x,200*math.sin(x*3.14/180))